/* ------------------------------------------------------- Github link color ------------------------------------------------------- */
.st-emotion-cache-5rimss a {
  color: #0000FF;
}

/* ------------------------------------------------------- Font stlye, color, sizes ------------------------------------------------------- */
h1,h2,h3,h4,h5,h6,p,li,ul{
  color: #21BFF7;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}
h1{
  font-size: 80px;
}
h2{
  font-size: 50px;
}
h3{
  font-size: 40px;
}
p{
  font-size: 25px;
}
html{
  font-size: 20px;
}

/* ------------------------------------------------------- Feedback Form section ------------------------------------------------------- */
input[typer=message], input[type=email], input[type=text], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /*Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=text]:focus, input[typer=message]:focus, input[type=email]:focus, textarea:focus {
  background-color: lightblue;
  color: black;
}

.st-dh {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

img {
  height: 450px;
  width: 100%;
  border-radius: 100%;
}

title{
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: rgb(4, 71, 255);
}
@media(hover:hover) and (min-width: 600px) and (max-width: 769px){
  header[data-testid="stHeader"] {
      display:none;
  }
  section[data-testid='stSidebar'] {
      height: 100%;
      min-width:95px !important;
      width: 95px !important;
      margin-left: 305px;
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #75C2F6;
      overflow-x: hidden;
      transition: 0.5s ease;
      padding-top: 60px;
      white-space: nowrap;
  }
  section[data-testid='stSidebar']:hover{
      min-width: 330px !important;
      }
  button[kind="header"] {
      display: none;
  }
  div[data-testid="collapsedControl"]{
      display: none;
  }
}

@media(hover: hover) and (min-width: 769px){
  header[data-testid="stHeader"] {
      display:none;
  }
  section[data-testid='stSidebar'] {
      height: 100%;
      min-width:95px !important;
      width: 95px !important;
      transform:translateX(0px);
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #75C2F6;
      overflow-x: hidden;
      transition: 0.5s ease;
      white-space: nowrap;
  }
  .st-emotion-cache-16txtl3 {
    padding: 2rem 1.4rem;
  }
  section[data-testid='stSidebar']:hover{
      min-width: 330px !important;
  }
  button[kind="header"] {
      display: none;
  }
  div[data-testid="collapsedControl"]{
      display: none;
  }
}

/* ------------------------------------------------------- Hide Streamlit Branding ------------------------------------------------------- */
#MainMenu {visibility: collapse;}
header {visibility: collapse;}
footer {visibility: visible;}